{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Sistema de Gerenciamento de Estoque!</h1>
    <p class="lead">Gerencie seus produtos, atualize o estoque e rastreie a localização dos itens de forma eficiente.</p>
    <hr class="my-4">
    <p>Aplicativo Web desenvolvido com a finalidade de entregar ao usuário, uma ferramenta de Gestão de Estoque</p>
    <p>***</p>
    <p>A idéia principal, é deixar que o usuário utilize os padrões que se adequam a sua realidade. Por isso aqui estão algumas informações de como são dispostas as funcionalidades do Gestor de Estoque</p>
    <p>***</p>
    <p>1° Use uma tabela de Endereços que já são padrões utilizados por sua Emrpesa</p>
    <p>2° Use os nomes corretos e não utilize caracteres ou símbolos</p>
    <p>3° Use os códigos que já usam como padrão para melhor adaptação ao sistema</p>
    <p>4° Façam diariamente a conferência dos estoques na página "Relatórios"</p>
    <p>5° Certifiquem-se de estarem movimentando no físico o mesmo produto declarado no Sistema</p>
</div>
{% endblock %}

